{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Knowledge Base Plattform</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'chatbot_list' %}">Chatbots</a></li>
                <li><a href="{% url 'document_list' %}">Dokumente</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>